body {
    font-family: Arial;
    margin: 20px;
}

h1 {
    text-align: center;
}

.box1 {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: lightblue;
}

.box2 {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: lightgreen;
}

@media screen and (max-width: 768px) {

    body {
        margin: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .box1,
    .box2 {
        padding: 10px;
        margin: 10px;
    }
}