body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.eventCard {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: lightgray;
}

.input1:focus {
    outline: 3px solid blue;
}

.hide1 {
    visibility: hidden;
}

.hide2 {
    display: none;
}