/* Header styles */

.head1 {
    color: blue;
    text-align: center;
}

/* Paragraph styles */

.para1 {
    font-size: 18px;
    color: darkgreen;
}

/* Button styles */

.btn1 {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
}