body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

th {
    border: 1px solid black;
    padding: 10px;
    background-color: lightblue;
}

td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: lightgray;
}